.contact-container {
    border-radius: 5px;
    /* padding: 20px; */
    margin: 42px auto;
    /* background-color: #F5F5F5; */
    background-color: #ed1414;
    width: 52%;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-header {
    width: 100%;
    height: 20%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container .box-form {
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

.contact-container .box-form .left-side {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.contact-container .box-form .left-side img {
    width: 50%;
    height: 50%;
}

.contact-container .box-form .contact-form {
    width: 49%;
    height: 100%;
    text-align: justify;
}

.contact-container .box-form .contact-form input[type="text"],
.contact-container .box-form .contact-form input[type="email"],
.contact-container .box-form .contact-form textarea[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: none; */
    /* margin-left: 80px; */
}

.contact-container .box-form .contact-form input[type="text"]:hover,
.contact-container .box-form .contact-form input[type="email"]:hover,
.contact-container .box-form .contact-form textarea[type="text"]:hover {
    outline: 1px solid rgb(196, 148, 13);
    color: #DE8F1F;
}


.contact-container .box-form .contact-form p {
    /* padding-top: 25px; */
    font-size: 18px;
    color: rgb(134, 133, 133);
    /* margin-left: 80px;
    margin-right: 75px; */
}

.contact-container .box-form  .contact-form .contact-details > p {
    font-size: 20px;
    position: relative;
    top: 10px;
    color: rgb(134, 133, 133);
    /* padding: 0 0 0px; */
}
.contact-container .box-form  .contact-form .contact-details > p > span {
    margin-left: 10px
}

.contact-container .box-form .contact-form  .input_phone {
    margin-left: 10px;
}


.contact-container .box-form .contact-form .input_email {
    width: 420px;
    margin-top: 10px;
}

.contact-container .box-form .contact-form .input_message {
    width: 420px;
    /* margin-left: 80px; */
    margin-top: 10px;
    /* padding-left: 10px; */
}

.contact-container .box-form .contact-form .input_submit {
    border: 1px solid #eee;
    background-color: rgb(196, 148, 13);
    border-radius: 5px;
    color:#ffffff;
    /* float: left; */
    /* margin-left: 80px; */
    /* margin:0 */
    padding: 10px
}

/* .contact-container:after {
    content: "";
    display: table;
    clear: both;
} */
