.card-b {
    background: #fff;
    color: #333;
    margin: 0 auto 10%;
    width: 100%;
    border-radius: 2rem;
}

.card-b .background img{
    width:40%;
    height:20%;
    margin-left: 30%;
}

.acc-container {
    
    margin-left: 20%;
    margin-right:20%;
}
.acc-container .acc-btn {
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 20px; ;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
}
.acc-btn:after {
    content: "\27A4";
    color: #fa8d0c;
    float: right;
    transition: all 0.3s linear;
}
.acc-btn.is-open:after {
    transform: rotate(90deg);
}
.acc-btn:hover, .acc-btn.is-open {
    color: rgb(242, 169, 12);
    font-weight: bold;
}

.acc-content {
    max-height: 0;
    color: rgba(0,0,0,0.75);
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid rgb(216, 192, 41);
}
.acc-container .acc-btn .acc-content p{
    font-size: 18px;
    padding-bottom:20px;
}